.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pumpBrain {
    height: 9rem;
    margin-top: auto;
    margin-bottom: auto;
}

.lowBattery {
    width: 21px;
    /* height: 5rem; */
    margin-top: 65px;
    margin-bottom: auto;
}