.card > .card-title {
    display: table;
    border: solid 1px black;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    width: 75%;
    align-self: center;
    margin-bottom: 0;
    height: 51px;
    justify-content: center;
    text-align: center;
}
.card-title p {
    margin: 0px;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}

.card {
    border: solid 4px green;
    margin: 5px;
    display: flex;
    box-shadow: 3px 3px #cfcdcd;
}

.card-body {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
}

.status{
    /* display: flex; */
    border: 1px solid green;
    background: rgb(130, 214, 130);
    border-radius: 15px;
    width: 120px;
    position: absolute;
    bottom: 0;
    align-self: center;
    margin-bottom: 10px;
}

.info{
    display: flex;
    flex-direction: row;
    vertical-align: center;
    margin-bottom: 50px;
}

.dosage {
    margin: 0px 0px 0px 15px;
}

.rate {
    margin-right: auto;
    margin: 0px 15px 0px 0px;
}

.rate > p {
    font-size: 30px;
}

.dosage > strong {
    font-size: 30px;
}

h5{
    margin: 0;
    font-size: 13px;
}

p {
    margin-bottom: 0px;
}

.vtbi {
    font-size: 15px;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.vtbi > p {
    font-size: 12px;
    margin-bottom: -3px;
}
