.card > .card-title {
    border: solid 1px black;
    border-radius: 5px;
    width: 75%;
    align-self: center;
}

.cardContainer > a {
    color: black;
}

.cardContainer > a:hover {
    text-decoration: none;
    color: black;
} 


/* .drugCard{
    border: 4px solid black;
    width: 496px;
    height: 160px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 10px 10px 10px;
}

.drugLabel{
    background: #FFEBCC;
    border-radius: 0 0px 20px 20px;
    padding: 5px;
    height: 55px;
    width: 285px;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.content{
    display: flex;
    flex-direction: row;
}

 .rate{
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.rate > .b{
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.dosage {
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.status{
    display: flex;
    border: 1px solid green;
    background: #67FF64;
    border-radius: 15px;
    width: 120px;
    height: 38px;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.cardContainer > a {
    color: black;
}

.cardContainer > a:hover {
    text-decoration: none;
    color: black;
} */