.topHeader {
    background-color: #007a9a;
    height: 45px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 23px;
    margin-bottom: 5px;
}

.topHeader > .patientName > p {
    margin-bottom: 0px;
    margin-left: 5px;
}

.topHeader > .mrn > p {
    margin-bottom: 0px;
    margin-left: 5px;
}
.topHeader > .weight > p {
    margin-bottom: 0px;
    margin-left: 5px;
}
.topHeader > .mode > p {
    margin-bottom: 0px;
    margin-left: 5px;
}

.patientName{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.mrn{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.weight{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.mode{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.topHeader > button{
    height: 30px;
}

.topHeader > .btn-light{
    padding: 0px 10px 0px 10px;
}

.modal-header > button.close{
    padding: 10px 16px 0px 0px;
    margin: 0px;
    position: absolute;
    right: 0;
}

.modal-header {
    padding: 0px 0px 0px 0px;
    border: none;
}

.modal-body{
    table-layout: auto;
}

.drugColor{
    width: 75%;
    height: 50px;
    align-self: center;
    text-align: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    border: solid 1px black;
    border-top: none;
    margin: auto;
    font-size: 30px;
}

td {
    justify-content: center;
    text-align: center;
    width: 50%;
}

td > h4{
    font-size: 18px;
}

td > p {
    font-size: 30px;
    margin-top: -5px;
}

td > h5 {
    font-size: 15px;
    margin-top: -3px;
}

.modalDosage > h5{
    font-weight: bold;
}

.modalDosage > p{
    font-weight: bold;
}

.modalRate > h5{
    font-weight: bold;
}

.modalRate > p{
    font-weight: bold;
}

.modal-footer{
    justify-content: space-between;
    border: none;
}